* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Montserrat;
    font-weight: 300;
}

section {
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
}

button {
    height: 40px;
    width: 100px;
    margin-left: 10px;
    background-color: #fff;
}

#s1 {
    height: 700px;
    color: white;
    background-image: url(assets/P1%20Background.jpg);
}

#s1 h1{
    padding-top: 120px;
    font-size: 3rem;
}

#s1 p {
    width: 78%;
    margin: 50px auto;
    line-height: 1.5rem;
    opacity: 0.6;
}

#s1 form {
    padding: 40px 50px;
    margin: 50px auto;
    border: 1px solid rgba(255,255,255,0.4);
    font-weight: 300;
}

#s1 form h3{
    font-weight: 300;
    margin: 0;
}

#s1 form p{
    margin: 5px auto;
    opacity: 0.5;
}

#s1 form input{
    height: 30px;
    width: 200px;
    color: white;
    padding: 5px;
    margin: 20px 10px;;
    background-color: transparent;
}

#s2 {
    height: 500px;
    padding: 50px 0;
}

#s2 h1{
    width: 75%;
    font-size: 2rem;
    margin: 0 auto 30px;;
}

#s2 .container div div {
    margin: 30px 0;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

#s2 .container div div div{
    width: 300px;
    margin:0 10px; 
}

#s2 .container div div p:nth-of-type(1) {
    font-weight: 500;
    margin-bottom: 10px;
}

#s3 {
    height: 600px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(assets/P3_1%20Background.jpg);
}

#s3 div {
    width: 45%;
    text-align: left;
}

#s3 div h1 {
    width: 60%;
}

#s3 div p {
    width: 70%;
    margin-top: 30px;
    opacity: 0.6;
}

#s3 div button {
    width: 180px;
    margin: 30px 30px 0 0;
    float: left;
}

#s3 div button:last-of-type {
    color: white;
    background-color: transparent;
}

#s3 img {
    height: 70%;
}

#s4 h1 {
    margin: 50px auto;
}

#s4 > div {
    display: flex;
    justify-content:center;
    vertical-align: top;
}

#s4 div div {
    margin:10px 30px 60px 30px;
    width: 25%;
}

#s5 .container {
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#s5 .container img {
    height: 100%;
    width: 55%;
    margin-bottom: 50px;
}

#s5 .container div {
    width: 300px;
    margin: auto 50px auto 0;
    text-align: left;
}

#s5 .container div:first-of-type {
    margin: auto 0 auto 50px;
}

#s5 h3 {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

#s6 {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

#s6 p {
    width: 75%;
    margin: 30px auto;
}

#s6 img {
    width: 45%;
    margin: 10px;
}

#s7 form {
    height: 300px;
    width: 25%;
    padding: 40px 40px 80px;
    margin: 50px auto;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.15);
}

#s7 form h6 {
    font-weight: 400;
    margin: 20px auto;
}

#s7 form input {
    height: 30px;
    width: 100%;
    margin: 10px auto;
}

#s7 form textarea {
    width: 100%;
    height: 80px;
    margin: 10px auto;
    border: 1px solid rgba(0,0,0,0.15);
}

#s7 form button {
    width: 100%;
    margin: 10px auto;
    color: white;
    background-color: black;
}

#s7 .container > div {
    width: 40%;
    float: right;
    margin: 100px 0;
    padding: 0 80px;
    text-align: left;
}

#s7 .container > div > p{
    margin: 30px 0 40px 0;
}

#s7 .container > div div{
    width: 300px;
    margin: 20px 10px 10px 0;
    text-align: left;
}

#s7 .container > div div img{
    float: left;
}

#s7 .container > div div p{
    font-weight: 400;
    margin-left: 40px;
}

footer {
    color: white;
    background-color: black;
    padding: 50px 0;
}

footer .container {
    display: flex;
}

footer .container div{
    width: 25%;
    margin: 10px;
}

footer .container a{
    display: block;
    margin: 20px 0;
    opacity: 0.5;
}

footer .container p{
    display: block;
    margin: 20px 0;
    opacity: 0.5;
}